h1, h2, li,ul, header, footer, p {
  font-family: 'Varela Round', sans-serif;
}

html {
  margin: auto 20px;
}
.jumbotron {
  background: url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=") bottom;
  background-size: cover;
  height: 960px;
  opacity: 0.75;
  text-align: center;
}

#home {
  display: flex;
}

#hero-content {

  color: white;
  text-shadow: 2px 3px black;
  margin: 0 auto;
  display: inline-block;
  padding-top: 37%;

}
