<div class="content">
	<h1> On the big day </h1>

	<p>
		The Ceremony will take place at Stoneridge Estate overlooking Lake Hayes (Stoneridge Estate, 756 State Highway 6, Lake Hayes, RD1, Queenstown 9371).
	</p>

	<ul>
		<li>Stoneridge Estate address:</li>
		<li>756 State Highway 6</li>
		<li>Lake Hayes</li>
		<li>RD1</li>
		<li>Queenstown 9371</li>
	</ul>

	<p>
		The Wedding Breakfast will be at Amisfield Winery, a short walk away.
	</p>

	<ul>
		<li>Amisfield address:</li>
		<li>XXX</li>
		<li>XXX</li>
		<li>XXX</li>
		<li>Queenstown XXX</li>
	</ul>


<!-- Todo: put the key in a secret key folder -->

<iframe
	width="450"
	height="300"
	frameborder="0" style="border:0"
	src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGVKa2PVk-I3aAJGoFq6xATeNqo_rm1lQ&q=stoneridge,queenstown" allowfullscreen>
</iframe>

<br>
<br>
<br>

<p>
	Transport will be provided to and from the wedding venue, with pick up and locations to be advised closer to the time.
</p>

</div>
