<div class="content">
	<h1> On the big day </h1>

	<p>
		The big day will be on <b>Thursday January 4th 2018</b> and will be held at the Rippon Winery in Wanaka, New Zealand (South island).

		The ceremony will start at 4pm in the garden. It might still be quite warm at that time so be prepared and bring sunscreen, water and maybe umbrellas if you don't want to get too tanned.

		Then we will move to the terrace where you will have cocktails and canapes and where we will have some pictures taken.

		Dinner will be served in the hall and will be followed by music and dance until midnight. The last dance will take place around 12.30am as we will need to leave the premises just before 1am.
	</p>

</div>
