<div class="content">

  <!-- <img src="https://dl.dropboxusercontent.com/s/j0o1gi3nt2ttchl/Rippon_Summer.jpg" class="img-responsive"> -->

<h2>Queenstown</h2>
  <p>
    Queenstown is located in the South Island of New Zealand. The historic city centre is located on the edge of Lake Wakitipu, surrounded by mountains. The views are spectacular and there’s plenty to do for all the family.
    Summer’s are warm and (generally) dry, with temperatures ranging from 19-29 degrees celsius. The evening may get chilly depending on the weather that day.
  </p>

  <h2>Getting around</h2>
  <p>
    It’s super easy to get around Queenstown on foot, but if you plan to do activities in or around the region, travelling by car will be easiest. Many tour operators will, however, make arrangements to
    pick you up at your accommodation or nearby if you don’t have transport (may cost extra, make inquires at time of booking).
    It is easiest to fly direct to Queenstown, and there are multiple flights daily from across New Zealand.
    Queenstown is approximately 7 hours (486km) from Christchurch and 4.5 hours (283km) from Dunedin. For more tips on driving from Christchurch, see http://www.newzealandtravelinsider.com/scenic-drives/drive-from-christchurch-to-queenstown-driving-times-new-zealand.htm.
    Tourism information can be found at newzealand.com and queenstown.co.nz
  </p>
