<div class="content">

  <h1>Getting there</h1>
    <p>The nearest airport is Queenstown (ZQN) and sadly, there are no direct flights from Europe: you will either have to change
      plane in New-Zealand (Christchurch or Auckland)or somewhere in Australia (Sydney is only 3 hours flight away).</p>

      <p>Wanaka is 1 hour away from Queenstown, so if you want to visit the area, it is recommended that you book a car. </p>

      <p>Some advice:</p>
      <ul>
        <li>Try to book as early as you can (tickets are on sale 1 year before). In the UK, Flightcenter offers very good deals.</li>
        <li>Most of the times, the fastest routes is not the cheapest! We found that if you take tickets with connections in
          Australia, you could save £500 than if you were flying directly.</li>
        <li>Stay overnight in Singapore, it will be a longer trip but you will feel much better than flying directly!</li>
        <li>If there's a group of you, try to book group tickets - you might get a discount!</li>
        <li>If you can, do not book your tickets for an arrival between Dec 11th and Dec 26th - the tickets will be very expensive because
         of Christmas.</li>
      </ul>

      <h1>Flights</h1>
        <ul>
          <li>Our favourite airlines: Singapor Airlines or Air New Zeland</li>
          <li>Best place for a change: Singapor, anywhere in Australia, San Francisco (if you're travelling from the US)</li>

        </ul>

  <h1>Accomodation</h1>
    <ul>
      <li>Hotels</li>
      <li>Flats to share</li>
      <li>Cabin</li>
    </ul>

</div>
