<div class="content">

  <img src="https://dl.dropboxusercontent.com/s/j0o1gi3nt2ttchl/Rippon_Summer.jpg" class="img-responsive">

<p>Address:</p>
<p>Rippon Vineyard</p>
<p>246 Mt Aspiring Rd</p>
<p>Wanaka 9343</p>
<p>New Zealand</p>

<!-- Todo: put the key in a secret key folder -->

<iframe
  width="900"
  height="600"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGVKa2PVk-I3aAJGoFq6xATeNqo_rm1lQ&q=rippon,wanaka" allowfullscreen>
</iframe>

<br>
<br>
<br>

</div>
