<div class="content">

  <!-- <img src="https://dl.dropboxusercontent.com/s/j0o1gi3nt2ttchl/Rippon_Summer.jpg" class="img-responsive"> -->

  <p>
    The Ceremony will take place at Stoneridge Estate overlooking Lake Hayes.
    The Wedding Breakfast will be at Amisfield Winery, a short walk away.
  </p>

  <ul>
    <li>Stoneridge Estate address:</li>
    <li>756 State Highway 6</li>
    <li>Lake Hayes</li>
    <li>RD1</li>
    <li>Queenstown 9371</li>
  </ul>

  <ul>
    <li>Amisfield address:</li>
    <li>XXX</li>
    <li>XXX</li>
    <li>XXX</li>
    <li>Queenstown XXX</li>
  </ul>


<!-- Todo: put the key in a secret key folder -->

<iframe
  width="900"
  height="600"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGVKa2PVk-I3aAJGoFq6xATeNqo_rm1lQ&q=stoneridge,queenstown" allowfullscreen>
</iframe>

<br>
<br>
<br>

</div>
