html {
  background-color: white;
  font-family: 'Poiret One', cursive;
  height: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

.title {
  position: fixed;
  padding: 5px 0;
}

.collapse.navbar-collapse {
  padding-left: 0px;
}

.content {
  position: absolute;
}

.navbar {
  position: fixed;
  margin-top: 80px;
}

.story {
  padding-top: 120px;
}

h1, h2, li {
  font-family: 'Poiret One', cursive;
}
