html, body {
  height: 100%;
}

html {
  background-color: white;
  font-family: 'Poiret One', cursive;
  height: 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    position: absolute;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  position: fixed;
}

li {
  text-decoration: none;
  list-style: none;
}

.title {
  position: fixed;
  padding: 5px 0;
}

.collapse.navbar-collapse {
  padding-left: 0px;
}

.navbar {
  position: fixed;
  margin-top: 80px;
}

.story {
  padding-top: 120px;
}

h1, h2, li {
  font-family: 'Poiret One', cursive;
}
